<div class="split-container">
    <!-- Image Section -->
    <div class="image-section">
      <img src="/14.jpg" alt="FolioTeach Background" class="background-image">
      <div class="overlay">
        <div class="logo-container">
          <mat-icon>school</mat-icon>
          <span>FolioTeach</span>
        </div>
        <h2>ברוכים הבאים לפלטפורמת FolioTeach</h2>
        <p>המקום המושלם למורים להתחבר ולנהל את התיק המקצועי שלהם</p>
      </div>
    </div>
  
    <!-- Login Section -->
    <div class="login-section">
      <div class="login-card-container">
        <mat-card class="login-card">
          <div class="login-header">
            <h1>התחברות</h1>
            <p>הקלד את השם שלך והסיסמא כדי להתחבר</p>
          </div>
  
          <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" class="login-form">
            <mat-form-field appearance="fill"> 
              <input matInput formControlName="userName" placeholder="הזן את  השם שלך" type="userName" required>
     
            </mat-form-field>
            
            <mat-form-field appearance="fill"> 
              <input matInput formControlName="password" placeholder="הזן את הסיסמה שלך" [type]="hide ? 'password' : 'text'" required>
              @if (addUserForm.get('userGroup.password')?.hasError('required')) {
                <mat-error>סיסמה נדרשת</mat-error>
              }
            </mat-form-field>
  
            <div class="form-options">
              <mat-checkbox formControlName="rememberMe" color="primary">זכור אותי</mat-checkbox>
              <a href="#" class="forgot-password">שכחת סיסמא?</a>
            </div>
  
            <button mat-flat-button color="primary" type="submit" class="login-button" [disabled]="!addUserForm.valid">
              התחברות
              <mat-icon>login</mat-icon>
            </button>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
